 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form3C++</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'form-home' %}"><i style="font-size:24px" class="fa">&#xf21e;</i> Form3C++</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'form-home' %}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Entry <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'daily-receipt'%}">Receipt</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'daily-income'%}">Income</a></li>
          <li><a href="{% url 'daily-expense'%}">Expense</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Master<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-treatment'%}">Treatement</a></li>
          <li><a href="{% url 'form-subtreatment'%}">Sub Treatement</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-receipttype'%}">Receipt Type</a></li>
          <li><a href="{% url 'form-incometype'%}">Income Type</a></li>
          <li><a href="{% url 'form-expensetype'%}">Expense Type</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-view-hospital'%}">Hospital</a></li>
          <li><a href="{% url 'financial-receipt'%}">Financial Year</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
                    <li><a href="{% url 'form-view-receipt'%}">Receipt Summary Collection</a></li>
          
          
          <li><a href="{% url 'form-view-receipt-treatment'%}">Treatmentwise  Summary</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-view-expense-typewise'%}">Expense Typewise Summary</a></li>
          <li><a href="{% url 'form-view-expense'%}">Expense Summary</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-view-income-typewise'%}">Income Typewise Summary</a></li>
          <li><a href="{% url 'form-view-income'%}">Income Summary</a></li>  
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-view-treatment'%}">Treatment</a></li>
          <li><a href="{% url 'form-view-subtreatment'%}">SubTreatment</a></li>
          <li><a href="{% url 'form-view-receipt-type'%}">Receipt Type</a></li>
          <li><a href="{% url 'form-view-income-type'%}">Income Type</a></li>
          <li><a href="{% url 'form-view-expense-type'%}">Expense Type</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Miscellaneous <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-about'%}">About Us</a></li>
          <li><a href="{% url 'form-disclaimer'%}">Disclaimer</a></li>
          <li><a href="{% url 'form-feedback'%}">Feedback</a></li>
        </ul>
      </li>
    </ul>
    <div class="btn-group">
      <a class="btn btn-primary" href="{% url 'form-view-research'%}" role="button">Research Data</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'profile'%}"><span class="glyphicon glyphicon-user"></span>{{request.user}}</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</nav>
  


</div>
{% block content %}
{% endblock content %}
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'Forms/footer.html'%}
</body>
</html>