 
 <div class="row">
    <div class="col-sm-12">
      <h3><center><b> Our Features </b></center></h3>
    </div> 
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3><i style="font-size:24px" class="fa">&#xf0f1;</i> Form3C Managment</h3>
      <p>Generation, Updatation and Printing of Receipts and Forms to save time of Practitioners by providing Financial Managment of Clinics/Hospitals by replacing tedious paperwork with Digital Managment.</p>
    </div>
    <div class="col-sm-3">
      <h3> <i style="font-size:24px" class="fa">&#xf193;</i> Patient Managment</h3>
      <p>Easy to use Patient Managment in order to retrive and store necessary informations. </p>
    </div>
    <div class="col-sm-3">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
              <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg> Net Income Managment</h3>        
      <p>Hassle free Managment of Income/Expense with privacy inorder to reduce paperwork</p>
    </div>
    <div class="col-sm-3">
      <h3><i style="font-size:20px" class="fa">&#xf0f6;</i> Research Data</h3>        
      <p>In order to help Research Fellows with immense data to study particular disease/medicine we provide our Patients data in an well organized manner where privacy of patients is maintained as well.</p>
    </div>
  </div>
</div> 