 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form3C++</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'form-home' %}"><i style="font-size:24px" class="fa">&#xf21e;</i> Form3C++</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'form-home' %}">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Entry <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'daily-receipt'%}">Receipt</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'daily-income'%}">Income</a></li>
          <li><a href="{% url 'daily-expense'%}">Expense</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Master<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-treatment'%}">Treatement</a></li>
          <li><a href="{% url 'form-subtreatment'%}">Sub Treatement</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-receipttype'%}">Receipt Type</a></li>
          <li><a href="{% url 'form-incometype'%}">Income Type</a></li>
          <li><a href="{% url 'form-expensetype'%}">Expense Type</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-view-hospital'%}">Hospital</a></li>
          <li><a href="{% url 'financial-receipt'%}">Financial Year</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Report<span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a href="{% url 'form-view-receipt'%}">Receipt Summary Collection</a></li>
          <li><a href="{% url 'form-view-receipt-treatment'%}">Treatmentwise  Summary</a></li>
          <li class="divider"></li>
                  <li><a href="{% url 'form-view-expense-typewise'%}">Expense Typewise Summary</a></li>
          <li><a href="{% url 'form-view-expense'%}">Expense Summary</a></li>
          <li class="divider"></li>
    
          <li><a href="{% url 'form-view-income-typewise'%}">Income Typewise Summary</a></li>
          <li><a href="{% url 'form-view-income'%}">Income Summary</a></li>  
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-view-treatment'%}">Treatment</a></li>
          <li><a href="{% url 'form-view-subtreatment'%}">SubTreatment</a></li>
          <li><a href="{% url 'form-view-receipt-type'%}">Receipt Type</a></li>
          <li><a href="{% url 'form-view-income-type'%}">Income Type</a></li>
          <li><a href="{% url 'form-view-expense-type'%}">Expense Type</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Miscellaneous <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-about'%}">About Us</a></li>
          <li><a href="{% url 'form-disclaimer'%}">Disclaimer</a></li>
          <li><a href="{% url 'form-feedback'%}">Feedback</a></li>
        </ul>
      </li>
    </ul>
    <div class="btn-group">
      <a class="btn btn-primary" href="{% url 'form-view-research'%}" role="button"> Research Data</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'profile'%}"><span class="glyphicon glyphicon-user"></span>{{request.user}}</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</nav>
<nav>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">New <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'form-createreceipt' doctor.id%}">Receipt</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-treatment' %}">Treatment</a></li>
          <li><a href="{% url 'form-subtreatment' %}">Sub Treatment</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'form-income' doctor.id%}">Income</a></li>
          <li><a href="{% url 'form-expense' doctor.id%}">Expense</a></li>
        </ul>
      </li>
      <li><a href="{% url 'form-createpatient' doctor.id%}">Patient</a></li>
      <li><a href="{% url 'patient-history'  %}">Patient History</a></li>
      <li><a href="{% url 'form-view-receipt'%}">Receipt Print</a></li>
      
    </ul>
    
  </div>
</nav>
</nav>
  <div class="jumbotron text-center">
  <img src="https://www.sossystems.com/wp-content/uploads/2018/09/medical-forms.jpg" class="img-thumbnail" alt="Cinque Terre">
  <h1>Form3C++</h1>
  <p>This specially developed website is a result of extensive research work made in existing practices as well as expert opinion from several doctors and medical informatics professionals. Looking at very busy schedule of doctors, the design emphasis of this is to make it ‘Doctor Friendly’.
We train users thoroughly to use all the features of the software very efficiently to gain maximum benefits from it. Our Solutions have been developed on multitier, robust, scalable and modern software architecture with state-of-the-art technology to assist you more.</p> 
</div>
 <div class="row">
    <div class="col-sm-12">
      <h3><center><b> Our Features </b></center></h3>
    </div> 
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3><i style="font-size:24px" class="fa">&#xf0f1;</i> Form3C Managment</h3>
      <p>Generation, Updatation and Printing of Receipts and Forms to save time of Practitioners by providing Financial Managment of Clinics/Hospitals by replacing tedious paperwork with Digital Managment.</p>
    </div>
    <div class="col-sm-3">
      <h3> <i style="font-size:24px" class="fa">&#xf193;</i> Patient Managment</h3>
      <p>Easy to use Patient Managment in order to retrive and store necessary informations. </p>
    </div>
    <div class="col-sm-3">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
              <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg> Net Income Managment</h3>        
      <p>Hassle free Managment of Income/Expense with privacy inorder to reduce paperwork</p>
    </div>
    <div class="col-sm-3">
      <h3><i style="font-size:20px" class="fa">&#xf0f6;</i> Research Data</h3>        
      <p>In order to help Research Fellows with immense data to study particular disease/medicine we provide our Patients data in an well organized manner where privacy of patients is maintained as well.</p>
    </div>
  </div>
</div> 
</body>
</html>