{% extends 'Forms/base.html' %}

{% block content %}
<div class="container">
  
  <h2> <i class="fa fa-medkit" style="font-size:36px;"></i>
  <b>Financial Receipts</b>
  </h2><br>

  <div class="row">
  <div class="col">
    <div class="card card-body">

      <form method="get">
        {{myFilter.form}}

        <button class="btn btn-primary" type="submit">Search</button>
      </form>

    </div>
  </div>
  
</div><br> <br>
  <div class="row">

      <div class="col-md">

      <div class="card card-body">
      <table class="table">
      <tr>
        <th>Receipt Type</th>
        <th>Date</th>
        <th>Patient</th>
        <th>Treatement</th>
        <th>Amount</th>
        <th>Remarks</th>
      </tr>
      {% for i in ViewFinancialReceipt %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.date}}</td>
        <td>{{i.patient}}</td>
        <td>{{i.treatment}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.remarks}}</td>
      </tr>     
      {% endfor %}
      </table>
    </div>
  </div>
</div>
</div>

  {% endblock content %}